<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col">
          <form action="">
            <div class="form-group">
              <label for="type" class="form-label">Type</label>
              <select name="type" id="type" v-model="type" class="form-control">
                <option :value="key" v-for="(t, key) in types" :key="key">{{t.name}}</option>
              </select>
            </div>
            <div class="form-row" v-if="type">
              <div class="col" v-for="(q, i) in types[type].fonts" :key="i">
                <label :for="'font_' + i">Font for {{q}}</label>
                <select v-model="fonts[i]" name="" :id="'font_' + i" class="form-control">
                  <option value="Sarpanch" style="font-family:Sarpanch">Sarpanch</option>
                  <option value="Roboto" style="font-family:Roboto">Roboto</option>
                  <option value="Dancing Script" style="font-family:Dancing Script">Dancing Script</option>
                </select>
              </div>
            </div>
            <div class="form-group" :invalid="error !== null">
              <label for="" class="form-label">Values</label>
              <textarea v-model="info" :invalid="error !== null" class="form-control" name="" id="" rows="10"></textarea>
              <p class="help-block" v-if="error">{{error}}</p>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button class="btn btn-primary" :disabled="generator.ready" @click="generate">GENERATE</button>
          <button class="btn btn-primary" :disabled="generator.saved" @click="save" v-if="generator.ready">SAVE</button>
          <button class="btn btn-primary" @click="clear" v-if="generator.saved || generator.ready">CLEAR</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div id="draw"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import generator from '@/generator'
  export default {
    name: 'phone-number-plate-generator',
    data () {
      return {
        generator,
        error: null,
        types: {
          numberPlate: {
            name: 'Number Plate',
            fonts: ['Name', 'Number 1', 'Number 2']
          },
          numberPlateSingleLine: {
            name: 'Number Plate Single Line',
            fonts: ['Number']
          },
          circularTest: {
            name: 'Circle',
            fonts: ['Name']
          }
        },
        type: '',
        fonts: [],
        draw: null,
        info: 'Please Call\t0000000000\t0000000000\nPlease Call\t0000000000\nPlease Call\t9856591818'
      }
    },
    watch: {
      type (t) {
        // let self = this
        if (t.length > 0) {
          this.types[t]['fonts'].forEach(f => {
            this.fonts.push('Roboto')
          })
        }
      }
    },
    methods: {
      generate () {
        if (!this.info) {
          this.error = 'Enter some data'
        } else {
          console.log(this.type)
          this.generator.render(this.info, this.type, this.fonts)
        }
      },
      save () {
        this.generator.save()
      },
      clear () {
        this.generator.clear()
        this.info = null
      }
    }
  }
</script>

<style lang="scss">
  $grid-columns: 24;
  // body{
  //   font-family: 'Sarpanch' !important;
  // }
  @import "~bootstrap/scss/bootstrap.scss";
</style>
